{% extends 'security/layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #E9E9E9;
        }

        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui message negative">Przekroczono liczbę prób logowania.</div>
        </div>
    </div>
{% endblock %}